* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../assests/background.png');
  font-family: 'Roboto', sans-serif;
}

.lead {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.lead h1 {
  color: rgb(146, 223, 39);
  box-shadow: 0 0 10px rgb(201, 218, 12);
  width: 750px;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px;
  color: white;
}

.refresh {
  display: flex;
  justify-content: center;
  width: 850px;
}

.refresh h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.5;
  margin-right: 50px;
}

.refresh button {
  cursor: pointer;
  border-radius: 5px;
}

.btn {
  padding: 0 40px;
  margin: 7px;
  border-radius: 5px;
  font-size: 3rem;
  background-color: rgb(146, 223, 39);
}
.btn:hover {
  background-color: rgb(201, 218, 12);
}

.list-item {
  display: flex;
  flex-direction: column;
  padding: 10px 2px;
  border: 1px solid #000;
  margin: 20px;
  list-style: none;
  border-radius: 5px;
  box-shadow: coral;
}

.list-item ul {
  list-style: none;
  margin-left: 2px;
  background-color: brown;
}

.list-item li {
  margin: 10px 0;
  font-size: 2.2rem;
  padding: 5px;
  color: white;
}

.list-item li:nth-child(even) {
  background-color: #8f8c8c;
}

.add-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 200px;
}

.add-score h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.add-score input {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 8px;
  border-radius: 5px;
  width: 450px;
  margin: 20px 0;
}

.btnsubmit {
  float: right;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(146, 223, 39);
}

.btnsubmit:hover {
  background-color: rgb(201, 218, 12);
}

form .btnsubmit {
  padding: 10px 20px;
  width: 120px;
}
